@charset "utf-8";
/* CSS Document */
/*
**   代码制作人：candy
**   制作时间  ：2012.11.21
**   文件内容描述：网页主要框架样式
**   涉及区域(1)：页面头部样式
**   涉及区域(2)：页面主要内容框架样式
**   涉及区域(3)：页脚样式
************************************************* /

/*首页面包屑*/
.traverl{	display: inline;width: 769px; }
.traverl_top{border-bottom: 1px solid #fff;}
.traverl_top_bg{border-bottom: 1px solid #ccc;}
.fbcurrent { padding-left:10px;}
.fbcurrent a{float:left; color:#333;}
.fbcurrent a:hover{color:#f00; text-decoration:underline;}
.fbcurrent span {float:left;display: inline;width: 20px;text-align: center;}
.traverl_credit{width: 599px;margin: 0 auto;padding: 35px 0;position: relative;}
.traverl_credit a.mostmall {left: 0;}
.traverl_credit a.examine{left:166px;}
.traverl_credit a.write{left:335px;}
.traverl_credit a.subscribe{left:510px;}
.traverl_credit  a.credit_link{width:108px; height:91px;top: 15px;background: #fff;opacity: 0;filter: alpha(opacity=0);position:absolute;}


/*边框*/
.edging{ background:#fff;border:1px dotted #ccc;padding: 10px 0;overflow: hidden;color: #333;margin-bottom: 30px;margin-left:10px;}
.edging h4{ float:left;color: #C33;height: 31px;line-height: 31px;text-indent: 25px; font-size:18px; font-family:"微软雅黑"; font-weight:bold; background:url(../images/marker_1.gif) no-repeat 4px 9px; }
.edging .s1{ float:left;color: #F60;margin-left: 11px;display: inline;position: relative;}
.edging .s1 a {position: relative;width: 31px;height: 35px;float: left;margin-right: -5px;}
.edging .s1 a img {position: absolute;right: 0;top: -8px;}
.edging p{float:left; clear:both; padding-left:26px; font-size:14px; font-family:"宋体"; color:#ff6600; font-weight:bold; width:720px;}
.f12{font-size:12px; font-weight:normal;}
.hotlist_price1{ padding-left:20px; font-family:"微软雅黑"; font-size:18px; font-weight:bold; color:#F60;}
.tbReason tr td {line-height: 29px; height:29px; padding-left:35px; color:#000; padding-right:10px; float:left;}
.tbReason td {vertical-align: top;margin: 0;  }
.red{color:#f00;}

/*出境游目的地版块*/
.paft2_left {	float: left;	clear: both;	width: 224px;}
.phb1 {	position: relative;	margin-top: 10px;	padding: 33px 0 0 10px;	width: 212px;	border: 1px solid #D2D2D2;	background-color: #F1F1F1;}
.phb2 {	position: relative;	margin-top: 10px;	margin-bottom: 10px;	padding: 33px 0 0 10px;	width: 212px;	border: 1px solid #D2D2D2;	background-color: #F1F1F1;}
.phpos {	position: absolute;	padding-left: 25px;	background: url(../images/phbg.gif) no-repeat;}
.phtop {	top: -2px;	left: 10px;}
.phpos b {	margin-left: 5px;	height: 32px;	color: #385600;	font-size: 12px;	font-family:"宋体"; line-height: 32px}
.phbtop {	overflow: hidden;	height: 5px;background: url(../images/phbtop.gif) no-repeat;}
.phbcont {	position: relative;	background: url(../images/phbcont.gif) repeat-y;width: 203px;}
.phbbot {	overflow: hidden;	height: 8px;	background: url(../images/phbbot.gif) no-repeat;}
.phbcont dl{ padding-right: 5px;  padding:5px 0 5px 0;overflow: hidden;_zoom: 1; }
.phbcont dl dt{background: url(../images/ydjy_jiao.gif) no-repeat 12px 5px ;color: #445714;font-size: 14px; font-family:"宋体"; font-weight:bold; text-indent:25px; height:20px; line-height:20px; margin-top:-1px;}
.phbcont dl dt a{color: #445714; text-decoration:underline;}
.phbcont dl dd{float: left;margin-left: 12px;_display: inline;line-height: 26px;white-space: nowrap;}
.phbcont dl dd a{color:#666;}
.phbcont dl dd a:hover{color:#F60; text-decoration:underline;}

/*旅游路线版块*/
.part6 {width: 768px;margin-top:10px;}
.fast_border {border: 1px solid #c4c4c4;background: #F8FCFF;}
.fast_tit {background:url(../images/engine_tit_bg.png) no-repeat scroll 0 0 transparent !important;_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='/images/engine_tit_bg.png',no-repeat);
width: 139px;height: 36px;text-align: center;line-height: 36px;color: #fff;font-size: 16px;margin: -10px 0 0 15px; font-family:"微软雅黑"; font-size:18px;}
.list14_box{float: left;overflow: hidden;  padding: 20px 30px;}
.list_img{float:left; display:inline;}
.list_img img{ width:204px; height:132px; padding:4px;-webkit-box-shadow: 1px 1px 3px #292929;-moz-box-shadow: 1px 1px 5px #292929;box-shadow: 1px 1px 5px #292929;behavior: url(ie-css3.htc); }
.hotlist{float:left; display:inline; margin-left:10px; }
.hotlist a{color:#066;}
.hotlist a:hover{color:#F06;}
.blue{color:#066;}
.f16{font-size:16px;}
.fw{ font-family:"微软雅黑"; font-weight:bold;}
.niu_pic {float: left;_display: inline;}
.hotlist_txt{ width: 366px;height: 120px; line-height:22px;padding: 5px 15px;float: left;overflow: hidden;color: #333; font-size:12px; font-family:"微软雅黑";}
.hotlist_price{overflow: hidden;text-align: right;color: #FF7A17;}
.hotlist_price strong{font-size:16px; font-family:"微软雅黑"; font-weight:bold;}
.hotlist_price dfn {padding-right: 1px;vertical-align: 3px;}
.book{ float:right; }
.book_txt{ float:right;background:url(../images/book_mark_h.gif) no-repeat; width:145px; height:20px; line-height:22px; font-family:"微软雅黑";}
.book_txt a{color:#fff; padding-left:45px;}
.book_txt a:hover{color:#C00;}
.topic_line {width: 100%; float:left;;margin: 10px auto 10px;height: 1px;font-size: 0px;border-bottom: 1px dashed #CCC;}

/*scroll_nav */
#scroll_nav {width: 753px; }
.scroll_nav{position: fixed;_position: absolute;top: 0;z-index: 9999;}
.scroll_nav_ul {margin-bottom: 1px;height: 28px;line-height: 28px;padding: 2px 0 0 15px;font-size: 16px;font-weight:bolder; font-family:"微软雅黑"; }
.scroll_nav_ul {background: #22BCDD;}
.scroll_nav_ul li{float:left;}
.scroll_nav_ul a {color: #fff;padding: 0 18px; display:block; float:left; line-height:28px; height:28px;}
.scroll_nav_current {height: 28px;background: #fff; }
.scroll_nav_current a {color: #C06;border: none;}
.scroll_nav_current a:link, .scroll_nav_current a:visited, .scroll_nav_current a:hover, .scroll_nav_current a:active {color: #c06;}

/*产品特色*/
.pkg-maodian{margin-top:-28px; position:absolute; width:1px; overflow:hidden;}
.h3_tit{border-bottom:4px solid #0CA3C4; height:26px;line-height:26px; font-family:"微软雅黑"; font-size:16px; font-weight:700; color:#fff; margin-top:10px;}
.h3_tit span{background:#0CA3C4; display:inline-block; padding:0 20px;}
.pro_special {padding: 10px 15px;line-height:26px;}
.row{border: 1px solid #ddd; border-top:none;background-color: #fff;padding: 0 15px;color: #333; font-size:14px; font-family:"微软雅黑";}
.row strong{color:#F03;}

/*行程安排*/
.day_con{border-bottom: 1px dashed #ccc; padding:10px 0;}
.recommend_travel{line-height:26px;}
.day_txt{ font:16px "微软雅黑"; font-weight:700;}
.day_txt strong{ font-weight:700; background:url(../images/sanjiao.png) no-repeat; width:87px; height:26px; line-height:26px; float:left; color:#fff; text-align:center;}
.day_txt  span{margin:0 12px;}
.day_jinaj{font-size:14px;margin-top:5px;}
.day_con ul{padding: 10px;background: #eee;margin: 10px 0;}
.day_con li{ margin-right:5px; font-family:"宋体"; font-size:12px;}

.icon_plane{background:url(../images/plane.png) no-repeat;  padding-left:35px;}
.icon_bus{background:url(../images/bus.png) no-repeat;  padding-left:35px;}
.day_img{ width:700px; overflow:hidden;padding:12px 0 12px 33px;}
.img_fl{float:left;}
.img_fr{padding:0 15px;}

/*费用说明*/
.statement_cost{ font-size:14px; line-height:26px;}
.statement_cost dt{font-weight:bold; color:#F00;}
.infoquote{margin-top:12px;padding: 20px 0px;position: relative; background:#EFFACC; margin-bottom:10px; }
.infoquote .p4 { font-size:12px; font-family:"宋体"; padding-left:12px;}
.infoquote .p4 span{ color:#f00; font-size:14px; font-weight:bold;}
.p4 input{width: 120px;height: 22px;border: 1px solid #ccc; margin-left:7px; }

.important_prompt{font-size:14px; line-height:26px;}

.visa{line-height:26px;}
.visa dt{font-weight:bold; color:#F00;}


/*备注说明*/
.important_prompt dt{color:#f00; font-weight:bold;}

/*目的地指南*/
.dest_intelligence{line-height:26px;}
.dest_intelligence img {padding:15px 10px;width:120px; height:90px; display:inline; float:left;  }
.dest_intelligence  p{text-indent:20px; padding-top:9px; line-height:22px; }
.dest_intelligence  p a{color:#f00; }
.dest_intelligence  p a:hover{text-decoration:underline;}
.dest_intelligence  dd{font-weight:bold; color:#06F;}

/*日期插件*/
#showDateArea{padding-left:20px;padding-bottom: 10px}
#dateInfo{ font-size:14px; color:#666; font-weight:700;}
#calTable {border-collapse: collapse;border: 5px solid #C3D9FF;}
#dateinfo {font-weight: bold;margin: 3px;}
.tourinfo {border-spacing: 2px;}
td.day {text-align: center;background: #C3D9FF;border: 1px solid #CDE;color: #112ABB; font-family:"宋体"; font-size:12px;}
td.calBox  {border: 1px solid #CDE;width: 10px;height: 8px;vertical-align: top; color:#000;}
td.calBox div.date {background: #E8EEF7;font-size: 11px;padding: 2px;}
td.calBox div.signUpDate{font-size: 11px;cursor: pointer;}

/*报价项目表格*/
.tourinfocontent{width:650px;}
.BlueTable {width: 90%; font-size:12px; font-family:"宋体";}
.BlueTable, .BlueTable td {border: 1px solid #99b3e7;border-collapse: collapse;}
.ItemTopTitle{text-align: center;background-color: #eaeefb;color: #0b41ad;line-height: 20px;}
.BlueTable td {text-align: center;}
