.item{width: 668px;overflow: hidden;border: 1px solid #DDD;border-top: none;}
.itemcon_hd{border-top: 2px solid #22ADE6;}
.con_bg {background-color: #EDF8FF;height: 35px;}
.item .iThinkSp {font-size: 18px;font-family: "microsoft yahei";padding-left: 15px;height: 35px;line-height: 35px;color: #22ADE6;font-weight: normal;}
 .list_topcon{padding-left: 10px;border-bottom: 1px solid #E7E7E7; height:30px; line-height:30px;}
.list_topcon li{float:left;color: #404040; display:block; }
.list_id{width:85px; }
.list_name{width:350px;}
.list_price{width:75px;}
.list_order {width:75px;}

.iitma dt div{float:left; line-height:30px; height:30px; padding: 5px 0 0 0; margin-left:10px; }
.rout_id{width:75px;  }
.rout_name{width:330px; overflow:hidden; }
.rout_price{width:80px;color: #F80;font-family: "Verdana";}
.cee {color: #666;font-size: 12px;font-weight: normal;}
.rout_order{width:65px;}
